@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Nanum+Gothic+Coding&display=swap');

html {
  scrollbar-color: #6969dd transparent;
  scrollbar-width: thin;
}

body {
  background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  font-family: 'Nanum Gothic Coding', sans-serif;
  font-size: 16px;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  text-rendering: optimizeLegibility;
  transition: color 0.5s, background-color 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

time {
  font-family: 'Share Tech Mono', monospace;
}
