.exploding {
  pointer-events: none;
  position: relative;
  will-change: transform;
  user-select: none;

  .particle {
    position: absolute;
    top: 0;
    left: 0;

    &--debris {
      background: #255ff4;
    }

    &--fire {
      border-radius: 50%;
    }
  }
}
